[submodule "themes/hexo-theme-yilia"]
	path = themes/hexo-theme-yilia
	url = git@github.com:zemzheng/hexo-theme-yilia.git
[submodule "themes/ziey"]
	path = themes/ziey
	url = git@github.com:zemzheng/hexo-theme-yilia.git
